.register {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.register-image {
  position: relative;
  height: 100%;
}

.register-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  display: none;
}

.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.register-content .form {
  width: 50%;
  min-width: 200px;
}

.register-content .form h2 {
  color: #607d8b;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

.register-content .check-policy {
  margin-bottom: 10px;
  color: #607d8b;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.register-content .input-form {
  margin-bottom: 20px;
}

.register-content .input-form span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  letter-spacing: 0.5px;
}

.register-content .input-form input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.register-content .input-form input[type="submit"] {
  background: #ff4584;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.register-content .input-form input[type="submit"]:hover {
  background: #f80959;
}

.register-content .remember-me {
  margin-bottom: 10px;
  color: #607d8b;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.register-content .input-form p {
  color: #607d8b;
}
.register-content .input-form a {
  text-decoration: none;
}

.register-content .input-form p a {
  color: #ff4584;
}

@media screen and (min-width: 769px) {
  .register-image {
    width: 50%;
  }
  .register-image img {
    width: 100%;
    display: block;
  }
  .register-content {
    width: 50%;
  }
}